// General configuration used in all profiles
manifest {
  description = 'Biomaterials Pipeline' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {
	standard {
		
                process {
                        withName: pubmed_timed_retrieval{
                                container = "projectdebbie/pubmed_retrieval:2.0.1"
                        }
                }

                process {
                        withName: pubmed_retrieval{
                                container = "javicorvi/pubmed-retrieval:1.0"
                        }
                }  

				
		process {
			withName: debbie_classifier{
				container = "projectdebbie/classifier:2.0.1"
			}
		}
		
		process {
			withName: nlp_standard_preprocessing{
				container = "javicorvi/nlp-standard-preprocessing:dev_1.6"                        
			}
		}
		
		process {
			withName: debbie_umls_annotation{
				container = "projectdebbie/debbie_umls_annotation:release-1.0.7"
			}
		}
		
		process {
			withName: debbie_dictionary_annotation{
                                container = "projectdebbie/debbie_dictionaries_annotations:release-2.0.0"
			}
		}
		
		process {
			withName: gate_to_json{
				container = "projectdebbie/gate_to_json:2.0.0"
			}
		}
		
		process {
			withName: import_json_to_mongo{
				container = "registry.gitlab.bsc.es/inb/text-mining/generic-tools/import-json-to-mongo:2.1"
			}
		}
		
		docker {
                  enabled = true
                  runOptions= '--net=host'
		}
		
	}
}
