// General configuration used in all profiles
manifest {
  description = 'Biomaterials Pipeline' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {
	standard {
		
                process {
                        withName: pubmed_timed_retrieval{
                                container = "projectdebbie/pubmed_retrieval:latest"
                        }
                }

                process {
                        withName: pubmed_retrieval{
                                container = "javicorvi/pubmed-retrieval:1.0"
                        }
                }  

		process {
			withName: pubmed_standardization{
				container = "projectdebbie/pubmed_standardization:latest"
			}
		}
		
		process {
			withName: debbie_classifier{
				container = "projectdebbie/classifier:release-1.0.1"
			}
		}
		
		process {
			withName: nlp_standard_preprocessing{
				container = "javicorvi/nlp-standard-preprocessing:1.2"                        
			}
		}
		
		process {
			withName: debbie_umls_annotation{
				container = "projectdebbie/debbie_umls_annotation:release-1.0.3"
			}
		}
		
		process {
			withName: debbie_onlology_annotation{
				container = "projectdebbie/biomaterials-annotator:release-1.0.2"
			}
		}
		
		process {
			withName: gate_to_json{
				container = "projectdebbie/gate_to_json:release-1.0.2"
			}
		}
		
		process {
			withName: import_json_to_mongo{
				container = "javicorvi/import-json-to-mongo:1.3"
			}
		}
		
		docker {
                  enabled = true
                  runOptions= '--net=host'
		}
		
	}
}

